$transition-time: 0.2s;
body {
    width: 100%;
    height: auto;
    min-width: 1200px;
    min-height: 1417px;
    background: url('../img/week_master.png') no-repeat;
    background-position: center top;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    position: relative;
}
*{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
p{
  margin: 0px;
}
.hide {
    display: none;
}
map area {
    outline: none;
}
img {
    border: 0 none;
}
.week_body{
  width: 1200px;
  margin: 800px auto 0px;
  .title{
    width: 350px;
    font-size: 40px;
    font-weight: bold;
    color: #fcfcfc;
    margin: 0 auto;
    padding-left: 60px;
    background: url('../img/master_icon.png') no-repeat;
    background-position: left center;
    box-sizing: border-box;
  }
  .week_slide{
    padding: 50px 60px;
    padding-right: 40px;
    position: relative;
    overflow: hidden;
    height: 300px;
  }
  .pic_container{
    width: 3000px;
  }
  .slide_list{
    overflow: hidden;
    width: 1080px;
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-pack:justify;
    //     -ms-flex-pack:justify;
    //         justify-content:space-between;
    // -webkit-box-align:center;
    //     -ms-flex-align:center;
    //         align-items:center;
    .item{
      // flex-shrink:0;
      margin-right: 20px;
      width: 310px;
      height: 218px;
      position: relative;
      cursor: pointer;
      float: left;
      margin-top: 70px;
      img{
        width: 100%;
        height: 100%;
        opacity: 0.7;
      }
      .pic_week{
        position: absolute;
        left:15px;
        width: 65px;
        text-align: center;
        top: 0px;
        z-index: 100;
        color: #ffffff;
        transition: width $transition-time;
      }
      .week_time{
        position: absolute;
        line-height: 30px;
        width: 100%;
        top:-30px;
        height: 30px;
        text-align: center;
        color: #ffffff;
      }
    }
    .item_focus{
      margin-top: 30px;
      img{
        opacity: 1;
      }
      .pic_week{
        display: none;
      }
      &::after{
        content: "本周冠军";
        position: absolute;
        left:18px;
        width: 95px;
        text-align: center;
        top: 0px;
        z-index: 101;
        color: #ffffff;
      }
    }
  }
  .master_msg{
    width: 966px;
    height: 140px;
    box-sizing: border-box;
    padding: 20px 50px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #b00c27;
    .now_master{
      color: #ffd35d;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      padding-left: 40px;
      background: url('../img/master_icon2.png') no-repeat;
      background-position: left center;
    }
    .my_msg{
      color: #ffffff;
      font-size: 18px;
      margin-top: 20px;
      span{
        color: #ffd35d;
      }
    }
  }
  .inquiry_btn {
      width: 1200px;
      margin: 50px auto;
      text-align: center;
  }
  .prev_btn,.next_btn{
    width: 44px;
    height: 44px;
    border-radius: 50% 50%;
    background-color: #ffffff;
    margin-top: 150px;
    position: absolute;
    line-height: 44px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #bb0c29;
    cursor: pointer;
    box-sizing: border-box;
  }
  .prev_btn{
    left: 0px;
  }
  .next_btn{
    right: 0px;
  }
}
.prize_footer {
    position: absolute;
    bottom: -49px;
    width: 100%;
    background-color: #88071b;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
}
.right_fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 620px;
    margin-top: -180px;
    width: 170px;
    .go_top{
      cursor: pointer;
    }
}
